/*======= RecentArticles Component =======*/
.Articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 40px 1fr 1fr 1fr;
  background-color: #ffffff;
  height: 100%;
  text-align: center;
  position: relative;
}

.recent-header {
  grid-column: 1 / 4;
}
/*======= RecentArticles Component =======*/