/*======= LatestArticle Component =======*/

.latest {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: 600px;
  width: 1260px;
  position: relative;
  margin-top: -350px;
  z-index: 2;
  justify-self: center;

}

.main-img {
  height: 100%;
  width: 100%;
}

.main-title {
  font-size: 28px;
  padding-left: 140px;
  padding-right: 140px;
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f2f1ed;
  color: #373632;
}

.main:hover {
  background-color: #1e1e1e;
  color: #f2f1ed;
}

.main:hover .icon{
  background-color: #1e1e1e;
}

.content{
  padding-left: 85px;
  padding-right: 85px;
}
/*======= LatestArticle Component =======*/