/*======= Article Component =======*/
.Article {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 570px;
  width: 410px;
  background-color: #f2f1ed;
  color: #373632;
  margin: 25px;
}

.Article:hover {
  background-color: #1e1e1e;
  color: #f2f1ed;
}

.Article:hover .icon{
  background-color: #1e1e1e;
}

.cover-image {
  width: 100%;
  height: 375px;
  margin-bottom: -30px;
}

/*======= Article Component =======*/