/*======= Header Component =======*/
.header {
  display: grid;
  grid-template-rows: 18px 82px;
  grid-template-columns: repeat(3, 1fr);
  background-color: #1e1e1e;
  height: 100%;
  width: 100%;
  text-align: center;
}

.sponsor {
  background-color: #b5a387;
  grid-column: 1 / 4;
  height: 18px;
  text-align: center;
}

.placeholder-logo {
  align-self: center;
  border: 2px solid #afa78a;
  color: #afa78a;
  height: 30px;
  justify-self: center;
  text-align: center;
  line-height: 30px;
  vertical-align: middle;
  width: 100px;
}

.social-section {
  display: flex;
  align-self: center;
  flex-direction: row;
  justify-self: flex-end;
  height: 30px;
  width: 60px;
  margin-right: 60px;
}

/*======= Header Component =======*/
