/*======= Intro Component =======*/
.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  background-image: url('/images/www.knobcreek.com-1293609732325191.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  color: #ffffff;
}

.headline {
  justify-self: flex-end;
  padding-left: 150px;
  padding-top: 120px;
}

.bourbon {
  justify-self: center;
  padding-top: 120px;
}

.intro-title {
  font-size: 70px;
  font-weight:normal;
  margin-bottom: 5px;
}

.intro-blurb {
  font-size: 16px;
  font-weight:normal;
}
/*======= Intro Component =======*/