/*======= Footer Component =======*/
.footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100%;
  background-color: #1e1e1e;
  height: 100%;
  color: #b5a387;
  font-size: 13px;
  padding-left: 50px;
  padding-right: 50px;
}

.share-section{
  display: flex;
  flex-direction: row;
  align-self: center;
  height: 80px;
}

.share {
  display: flex;
  justify-content: space-between;
  align-self: center;
}


/*======= Footer Component =======*/
