.App {
  display: grid;
  grid-template-rows: 100px 25% 10% 60% 70px;
  width: 1440px;
  height: 3385px;
}

.logo {
  align-self: center;
  justify-self: center;
  height: 80px;
  width: 80px;
} 

.social-media {
  align-self: center;
  height: 30px;
  width: 30px;
  margin: 10px;
}

.icon {
  background-color: #f2f1ed;
  border-radius: 50%;
  height: 40px;
  padding: 20px;
  position: absolue;
  width: 40px;
}

.title {
  margin-bottom: 10px;
  margin-top: 0;
}

.date {
  margin-top: 0;
}

.main-container {
  display: flex;
  justify-content: center;
  background-color: #b5a387;
  height: 100%;
}

.hlg{
  justify-self: flex-start;
  margin-left: 60px;
}

.flg {
  justify-self: flex-end;
}