@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), url(./assets/fonts/open-sans/OpenSans-Regular.ttf) format('truetype'),
  url(./assets/fonts/open-sans/OpenSans-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans Semibold';
  src: local('Open Sans Semibold'), url(./assets/fonts/open-sans/OpenSans-SemiBold.ttf) format('truetype');
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

a {
  text-decoration: none;
  color: #b73536;
  font-family: 'Open Sans Semibold', sans-serif;
}

a:hover {
  cursor: pointer;
}

a:active{
  color: #962328;
}